$container-padding: 15px;

*{
    box-sizing: border-box;
}
// body section
body{
    background-image: url('../img/body-background.jpg');
    background-size: contain;
}

.container {
    padding: $container-padding;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.subtitle{
    font-size: 20px;
}